<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Блог</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  <header>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/blog/">Блог</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contacts/">Контакты</a>
            </li>
        </ul>
    </header>

    <div class="container py-5">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-md-8">
            <h1 class="mb-4">Блог автора</h1>

            <article class="mb-5">
                <h2><a href="#">10 практических  советов   на переговорах (собеседовании).</a></h2>
                <small class="text-muted">Опубликовано: 01.01.2025</small>
                <p>В этой статье поговорим о переговорах. Как их грамотно проводить.

После того, как вы отправили своей отклик на вакансию и вам пришло приглашение на собеседование, нужно подготовиться к собеседованию.
</p>
                <a href="#" class="btn btn-outline-info">Читать далее →</a>
            </article>

            <article class="mb-5">
                <h2><a href="#">Список главных требований к данному специалисту, которые  позволят вам подобрать грамотного специалиста по контент-менеджменту. </a></h2>
                <small class="text-muted">Опубликовано: 01.02.2025</small>
                <p>Если вы  сами сейчас в поиске контент-менеджера.

Давайте честно. Идеальных людей не существует. Ни вы, ни я не идеальны. Поэтому Ваши требования к контент-менеджеру должны быть реальными, а оплата достойной. Чтобы у сотрудника была мотивация для добросовестного выполнения своих обязанностей.
Но при этом они должны быть, ведь обучать всему человека с нуля слишком затратно. Вы больше потеряете в деньгах и во времени, чем приобретёте.
</p>
                <a href="#" class="btn btn-outline-info">Читать далее →</a>
            </article>
        </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>