<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<header>
        <ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Главная</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/blog/">Блог</a>
    </li>
            <li class="nav-item">
        <a class="nav-link " aria-current="page" href="/contacts/">Контакты</a>
    </li>
            </li>
</li>
</ul>
    </header>
    <div class="container">
        <h1 class="mt-4">О авторе</h1>
        <p><strong> Емельяненко Галина </strong>родилась и выросла в г. Костюковичи Могилевской области. Автор книги «О фрилансе честно». Контент-менеджер со стажем более 7 лет. Работает с тремя крупными российскими компаниями на протяжении длительного времени. Углублено изучает продажи интернет-магазина и коммуникации с заказчиками. Проводит консультации в сфере фриланса и оформление товарной линейки для интернет-магазинов.

        <h2 class="mt-4">Книги</h2>
        <div class="card-deck">
            <div class="card">
                <img src="../static/image/1.jpg" class="card-img-top" alt="О фрилансе честно">
                <div class="card-body">
                    <h5 class="card-title">О фрилансе честно</h5>
                    <p class="card-text">Хотите узнать всю правду об удаленной работе?
Книга «О фрилансе честно» раскрывает все шаги в области удаленной работы.
Вы узнаете о мифах, которые сопровождают фрилансеров, получите полезные советы из шестилетнего опыта автора. Автор делится информацией, где брать клиентов и дает авторскую разработку удачного резюме, которое будет выгодно выделять вас на фоне остальных претендентов.
Книга предназначена для тех, кто задумывается об удаленной работе или еще только делает первые шаги во фрилансе..</p>
                    <a href="#" class="btn btn-primary">Где заказать</a>
                </div>
            </div>
            <div class="card">
                <img src="../static/image/2.jpg" class="card-img-top" alt="Контент-менеджер интернет-магазина">
                <div class="card-body">
                    <h5 class="card-title">Контент-менеджер интернет-магазина</h5>
                    <p class="card-text">Книга рассказывает об особенностях работы контент-менеджера интернет-магазина. Подойдет тем, кто только присматривается к данной профессии. Содержит практические задания, выполняя которые вы получите навыки, необходимые для специалиста, и сможете сформировать портфолио.
Книга станет настольной для тех, кто создает интернет-магазины. Они смогут самостоятельно грамотно оформлять товары или проверять работу специалиста. А значит, не терять прибыль из-за наличия ошибок в оформлении карточки товара..</p>
                    <a href="#" class="btn btn-primary">Где заказать</a>
                </div>
            </div>
        </div>

        <h2 class="mt-4">Отзывы</h2>
        <blockquote class="blockquote">
            <p class="mb-0">Отличная книга! Рекомендую всем!</p>
            <footer class="blockquote-footer">Иван Иванов</footer>
        </blockquote>
    </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>